/*  CLASSES GERAIS  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    height: 500vh;
}

.interface{
    max-width: 1366px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-contato button{
    padding: 13px 20px;
    font-size: 12px;
    color: #fff;
    background-color: #2783C1;
    border-radius: 15px;
    border: 0;
    transition: 0.5s;
}

.btn-contato button:hover{
    transform: scale(1.05);
}

.titulo{
    text-align: center;
    padding: 10px 4%;
    color: #404040;
}

.titulo span{
    color: #2783C1;
}

/*  Menu  */

header{
    width: 100%;
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
}

header ul{
    list-style: none;
}

header ul li{
    display: inline-block;
    margin: 0 20px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

/*  Banner  */

.banner{
    height: 80vh;
    background-image: url(../img/Banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;

    display: flex;
    align-items: center;
    justify-content: end;
  
    .text-banner{
        margin-right: 90px;
        h1{
            font-size: 12mm;
            color: #fff;
            text-align: left;
        }

        .btn-contato{
            text-align: center;
            padding-top: 10px;
        }
        
        .btn-contato button{
            font-size: 18px;
            border-radius: 10px;
        }
    }
}

/*  Clientes  */

section.clientes{

    .slogan{
        padding: 20px 0;
        background-color: #2C3E50;
        color: #fff;
        text-align: center;
    }

    .logos-cliente{
        height: 120px;

        ul{
            list-style: none;
        }

        ul li{
            display: inline-block;
            margin: 5px 20px;
        }

        ul li a img{
            height: 70px;
            width: 100px;
        }
    }
}

section.serviços{

    .flex{ 
        justify-content: center;
        gap: 40px;
    }

    .card-servicos {
        height: 250px;
        width: 250px; 
        margin-top: 40px;
        border-radius: 20px; /* borda redonda */
        border-width: 5px; /* largura da borda */
        border-style: solid; /* estilo da borda */
        border-image: linear-gradient(to top, #404040, rgba(64, 64, 64, 0)) 1; /* gradiente para a borda */
        padding: 20px 30px; /* espaçamento interno */
    }
    
    .card-servicos i{
        font-size: 80px;
        color: #2783C1;
        display: flex;
        justify-content: center;
    }

    .card-servicos h4{
        text-align: center;
        margin-top: 10px;
        color: #404040;
    }

    .card-servicos p{
        color: #404040;
        font-size: 12px;
        margin-top: 5px;
    }
}